<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://127.0.0.1:3306/db_agroTechCare?useSSL=false&amp;serverTimezone=UTC</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
     <property name="connection.password">root</property>
    <property name="hibernate.show_sql">true</property>       <!-- Показывать SQL в консоли -->
    <property name="hibernate.format_sql">true</property>     <!-- Форматировать SQL для читаемости -->
    <property name="hibernate.highlight_sql">true</property>  <!-- Подсвечивать SQL в логах -->
    <property name="hibernate.current_session_context_class">thread</property>
<!--    <mapping class="by.morozmaksim.AgroTechCareApp.domain.user.User"/>-->
<!--    <mapping class="by.morozmaksim.AgroTechCareApp.domain.legalEntity.LegalEntity"/>-->
<!--    <mapping class="by.morozmaksim.AgroTechCareApp.domain.contract.Contract"/>-->
<!--    <mapping class="by.morozmaksim.AgroTechCareApp.domain.brand.Brand"/>-->
<!--    <mapping class="by.morozmaksim.AgroTechCareApp.domain.technique.Technique"/>-->
<!--    <mapping class="by.morozmaksim.AgroTechCareApp.domain.workOrder.WorkOrder"/>-->

  </session-factory>
</hibernate-configuration>